
<body>
    <div id="register">
        <div class="container">
            <div id="register-row" class="">
                <div id="register-column" class="col-md-6">
                    <div id="register-box" class="col-md-12">
                        <form id="register-form" class="form" action="" method="post">
                            <h3 class="text-center text-info">Inscription</h3>
                            <div class="form-group">
                                <label for="username" class="text-info">Adresse mail</label><br>
                                <input type="text" name="username" id="username" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="password-register" class="text-info">Mot de passe</label><br>
                                <input type="text" name="password" id="password-register" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="password-register2" class="text-info">Confirmation du mot de passe</label><br>
                                <input type="text" name="password" id="password-register2" class="form-control">
                            </div>
                            <div class="form-group text-center">
                                <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
