<div class="table-container">

    <div class="text-center">
        <h1><strong>Gestion des allergènes</strong></h1>
        <button class="square-btn create" (click)="creerAllergene()">
            <strong>Ajouter un allergène</strong>
        </button>
        <button class="square-btn create" (click)="refresh()">Actualiser le tableau</button>
    </div>

    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
        <tr>
            <th *ngFor="let col of displayedColumns">{{col}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let ligne of allergenes">
            <td>{{ligne.getId()}}</td>
            <td>{{ligne.getNom()}}</td>
            <td>{{ligne.getCategorieId()}}</td>
            <td><button class="square-btn update" (click)="modifierAllergene(ligne.getId())"><mat-icon class="mat-18">update</mat-icon></button></td>
            <td><button class="square-btn delete" (click)="supprimerAllergene(ligne.getId())"><mat-icon class="mat-18">delete</mat-icon></button></td>
        </tr>
        </tbody>
    </table>

</div>

<script>
    $(document).ready(function(){
        $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
