.creerRecette {
    margin-top: 2%;
    margin-left: 2%;
    padding: 0.5%;
    background-color: white;
    border: 3px solid #7c99ff;
}
.creerRecette:hover {
    background-color: #7c99ff;
    border: 3px solid #7c99ff;
    color: white;
}