<div class="form-content">
        <h1 *ngIf="this.data.type=='creation'" class="text-center"><strong>Ajout d'un nouvel ingrédient</strong></h1>
        <h1 *ngIf="this.data.type=='modification'" class="text-center"><strong>Modification d'un ingrédient</strong></h1>
    <div>
        <form [formGroup]="IngredientForm">
                <input id="id" type="hidden" formControlName="$id">
            <div class="form-field">
                <label for="nom">Nom de l'ingrédient*</label>
                <input id="nom" type="text" formControlName="nom">
            </div>

            <div class="form-field">
                <label for="categorie">Catégorie*</label>
                <select id="categorie" type="text" formControlName="categorie">
                    <option>Sélection</option>
                    <option *ngFor="let cat of categories">{{cat.getNom()}}</option>
                </select>
            </div>

            <div class="form-field">
                <label for="allergene">Allergène</label>
                <select id="allergene" type="text" formControlName="allergene">
                    <option>Aucun</option>
                    <option *ngFor="let al of allergenes">{{al.getNom()}}</option>
                </select>
            </div>

            <div class="form-field">
                <label for="unite">Unité*</label>
                <input id="unite" type="text" formControlName="unite">
            </div>
            <div class="form-field">
                <label for="quantite_stock">Quantité*</label>
                <input id="quantite_stock" type="text" formControlName="quantite_stock">
            </div>

            <div class="form-field">
                <label for="coutU">Coût unitaire*</label>
                <input id="coutU" type="text" formControlName="coutU">
            </div>

            <div class="warning">
                <p *ngIf="IngredientForm.status == 'INVALID'">Vous devez remplir toutes les formalités*</p>
            </div>

            <div class="btn-toolbar">
                <button  class="button-validate form-btn" type="submit" (click)="onSubmit()"  [disabled]="!IngredientForm.valid">Valider</button>
                <button  class="button-cancel form-btn" (click)="cancel()">Annuler</button>
            </div>

        </form>
    </div>

</div>



