<div class="form-content">
    <h1 *ngIf="this.data.type=='creation'" class="text-center"><strong>Création d'une étape</strong></h1>
    <h1 *ngIf="this.data.type=='modification'" class="text-center"><strong>Modification d'une étape</strong></h1>
    <div>
        <form [formGroup]="EtapeForm">
            <input id="id" type="hidden" formControlName="$id">
            <div class="form-field">
                <label for="titre">Titre*</label>
                <input id="titre" type="text" formControlName="titre">
            </div>

            <div class="form-field">
                <label for="description">Description*</label>
                <input id="description" type="text" formControlName="description">
            </div>

            <div class="form-field">
                <form [formGroup]="IngredientForm" (ngSubmit)="selectIngredient()">
                    <label for="selectEtape">Ingrédient(s)</label>
                    <select id="selectEtape" type="text" formControlName="selectIngredient">
                        <option>Sélection</option>
                        <option *ngFor="let e of this.ingredients">{{e.getNom()}} ({{e.getUnite()}})</option>
                    </select>
                    <br>
                    <label for="quantite">Quantité</label>
                    <input id="quantite" type="text" formControlName="quantite">
                    <button class="form-btn" type="submit">Ajouter</button>
                </form>
                <form [formGroup]="IngredientSelectedForm" (ngSubmit)="unselectIngredient()">
                    <div cdkDropList cdkDropListOrientation="vertical" class="example-list" (cdkDropListDropped)="drop($event)">
                        <div class="example-box" *ngFor="let eSelected of ingredientSelected"  cdkDrag>{{eSelected.nom_ingredient}} : {{eSelected.quantite}}</div>
                    </div>
                    <button class="form-btn button-cancel text-center" type="submit">Supprimer le dernier ingrédient</button>
                </form>
            </div>

            <div class="form-field">
                <label for="temps">Temps*</label>
                <input id="temps" type="text" formControlName="temps">
            </div>

            <div class="warning">
                <p *ngIf="EtapeForm.status == 'INVALID'">Vous devez remplir toutes les formalités*</p>
            </div>

            <div class="btn-toolbar">
                <button  class="button-validate form-btn" type="submit" (click)="onSubmit()" [disabled]="!EtapeForm.valid">Valider</button>
                <button  class="button-cancel form-btn" (click)="cancel()">Annuler</button>
            </div>

        </form>
    </div>

</div>



