/* Toolbar */

.toolbar {
    background-color: rgba(53,44,42,0.31);
    border-radius: 0px;
    border-top: 2px solid rgba(116,16,52,0.75);
    border-bottom: 2px solid rgba(116,16,52,0.75);
}
.userBtn {
    margin-left: 68%;
    width: 100%;
}

.toolbarTitle {
    text-align: center;
    color: white;
    font-family: Georgia;
}

.toolbar-btn {
    color: #9C9C9C;
    border-radius: 0px;
    box-shadow: rgba(0, 0, 0, 0.24) 5px 3px 8px;
    background-color: white;
}

.toolbar-btn:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    background-color: rgba(153,153,151,0.51);
    color: white;
}
.menu-btn {
    margin-left: 10px;
}
.login-btn {
    margin-left: 10px;
    margin-right: 1%;
}
.register-btn {
    margin-right: 10px;
    margin-left: auto;
}

/* Content */

.navbar-content {
    margin: auto;
}

.sidenav {
    background-color: rgba(153,153,151,0.51);
    width: 15%;
    border-right: 2px solid rgba(116,16,52,0.75);
}

.sidenav-btn {
    width: 70%;
    padding: 2%;
    margin: 15%;
}


