.toolbar {
    background-color: cadetblue;
}

.menu-btn {
    margin-left: 15px;
    color: white;
}

.toolbarTitle {
    text-align: center;
}

.register-btn {
    margin-right: 15px;
    margin-left: 70%;
 }

.login-btn {
    margin-right: 10%;
}




.sidenav-container {
    width: 100%;
    height: 1080px;
}

.sidenav-content {
    display: flex;
    height: auto;
    justify-content: center;
    text-align: center;

}

.sidenav {
    background-color: lightblue;
    padding: 30px;
}
