<!-- ToolBar -->
<mat-toolbar class="toolbar">
    <div class="toolbarTitle"><h1>RestaurAngular</h1></div>
        <button class="toolbar-btn menu-btn" type="button" mat-button (click)="drawer.toggle()">MENU</button>
        <button class="toolbar-btn register-btn" routerLink="/inscription">S'inscrire</button>
        <button class="toolbar-btn login-btn" routerLink="/connexion">Se connecter</button>
</mat-toolbar>

<!-- Page -->
<mat-drawer-container class="sidenav-container" autosize>

    <!-- SideNavBar -->
    <mat-drawer #drawer class="sidenav" mode="side">
        <mat-nav-list class="navbar-content">
            <div class="row align-items-start sidebar">
                <div class=""><button class="sidebar-btn" routerLink="/accueil">Accueil</button></div>
                <div class=""><button class="sidebar-btn" routerLink="/ingredients">Ingredients</button></div>
                <div class=""><button class="sidebar-btn" routerLink="/recettes">Recettes</button></div>
            </div>
        </mat-nav-list>
    </mat-drawer>

    <!--Content Page-->
    <mat-drawer-content>
            <router-outlet></router-outlet>
    </mat-drawer-content>

</mat-drawer-container>



