
.toolbar {
    background-color: cadetblue;
}
.userBtn {
    margin-left: 68%;
    width: 100%;
}
.toolbar-btn {
    margin-top: 20%;
    border-radius: 10px;
    border: 3px solid rgba(116,16,52,0.6);
    margin-bottom: 20%;
    margin-left: 10%;
    color: cadetblue;
}

.toolbar-btn:hover {
    background-color: rgba(116,16,52,0.6);
    color:white;
    border-color: rgba(255,10,0,0.2);
}


.menu-btn {
    margin-left: 15px;
    color: rgba(116,16,52,0.75);
}

.toolbarTitle {
    text-align: center;
    color: white;
    font-family: Georgia;
}

.navbar-content {
    margin: auto;
}


.sidenav-container {
    width: 100%;
    height: 100%;
}

.sidenav-content {
    height: auto;
    justify-content: center;
    text-align: center;
}

.sidenav {
    background-color: rgba(116,16,52,0.75);
    width: 15%;
}

.sidebar {
    padding-top: 30%;
}

.sidebar-btn {
    width: 70%;
    border-radius: 10px;
    border: 3px solid cadetblue;
    margin-bottom: 20%;
    margin-left: 15%;
    color: rgba(116,16,52,0.6);
}

.sidebar-btn:hover {
    background-color: cadetblue;
    color: white;
    border-color: rgba(255,154,169,0.64);
}

.button_slide {
    margin-top: 20%;
    margin-bottom: 20%;
    width: 50%;
    color: #FFF;
    border: 2px solid rgb(216, 2, 134);
    border-radius: 0px;
    padding: 18px 36px;
    display: inline-block;
    font-family: Georgia;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #D80286;
    -webkit-transition: ease-out 1s;
    -moz-transition: ease-out 1s;
    transition: ease-out 1s;
}

.slide_right:hover {
    box-shadow: inset 400px 0 0 0 #D80286;
}