<div class="table-container">

    <div class="text-center">
        <h1><strong>Gestion des catégories d'ingrédient</strong></h1>
        <button class="square-btn create" (click)="creerCategorieIngredient()">
            <strong>Ajouter une catégorie d'ingrédient</strong>
        </button>
        <button class="square-btn create" (click)="refresh()">Actualiser le tableau</button>
    </div>

    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
        <tr>
            <th *ngFor="let col of displayedColumns">{{col}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let ligne of categories_ingredient">
            <td>{{ligne.getId()}}</td>
            <td>{{ligne.getNom()}}</td>
            <td><button class="square-btn update" (click)="modifierCategorieIngredient(ligne.getId())"><mat-icon class="mat-18">update</mat-icon></button></td>
            <td><button class="square-btn delete" (click)="supprimerCategorieIngredient(ligne.getId())"><mat-icon class="mat-18">delete</mat-icon></button></td>
        </tr>
        </tbody>
    </table>

</div>
