/* Boutons généraux de l'application */
.form-btn { /* Boutons de validation / annulation de formulaire */
    padding: 2%;
    margin: 5%;
    color: #9C9C9C;
    border-radius: 3px;
    border: 5px solid rgba(116,16,52,0.75);
    box-shadow: rgba(0, 0, 0, 0.24) 5px 3px 8px;
}
.form-btn:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    background-color: rgba(153,153,151,0.51);
    color: white;
}

.square-btn { /* Boutons carrés utilisés dans la toolbar et navbar notamment */
    color: #9C9C9C;
    border-radius: 0px;
    box-shadow: rgba(0, 0, 0, 0.24) 5px 3px 8px;
    background-color: white;
}
.square-btn:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    background-color: rgba(153,153,151,0.51);
    color: white;
    transition-duration: 0.4s;
}
