<div class="table-container">

    <div class="text-center">
        <h1><strong>Gestion des étapes</strong></h1>
        <button class="square-btn create" (click)="creerEtape()">
            <strong>Créer une étape</strong>
        </button>
        <button class="square-btn create" (click)="refresh()">Actualiser le tableau</button>
    </div>

    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
        <tr>
            <th *ngFor="let col of displayedColumns">{{col}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let ligne of etapes">
            <td>{{ligne.getId()}}</td>
            <td>{{ligne.getTitre()}}</td>
            <td>{{ligne.getDescription()}}</td>
            <td><button class="square-btn update" (click)="montrerIngredients(ligne.getId())"><mat-icon class="mat-18">I</mat-icon></button></td>
            <td>{{ligne.getTemps()}}</td>
            <td>Coût à mettre</td>
            <td><button class="square-btn update" (click)="modifierEtape(ligne.getId())"><mat-icon class="mat-18">update</mat-icon></button></td>
            <td><button class="square-btn delete" (click)="supprimerEtape(ligne.getId())"><mat-icon class="mat-18">delete</mat-icon></button></td>
        </tr>
        </tbody>
    </table>

</div>
