<div class="table-container">

    <div class="text-center">
        <h1><strong>Gestion des étapes</strong></h1>
        <mat-label>Rechercher</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Nom de l'étape" #input>
        <button class="square-btn create" (click)="creerEtape()">
            <strong>Créer une étape</strong>
        </button>
    </div>

    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)" class="mat-elevation-z8">

        <!-- ID -->
        <ng-container matColumnDef="ID">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Trier par id"> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- Titre -->
        <ng-container matColumnDef="titre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Trier par titre"> Titre </th>
            <td mat-cell *matCellDef="let element"> {{element.titre}} </td>
        </ng-container>

        <!-- Description -->
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef > Description </th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>

        <!-- Ingredient -->
        <ng-container matColumnDef="ingredients">
            <th mat-header-cell *matHeaderCellDef> Ingredients </th>
            <td mat-cell *matCellDef="let element">
                <button class="square-btn etapes" (click)="montrerIngredients(element.id)">
                    <mat-icon class="mat-18"></mat-icon>
                </button>
            </td>
        </ng-container>

        <!-- Temps -->
        <ng-container matColumnDef="temps">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Trier par temps"> Temps </th>
            <td mat-cell *matCellDef="let element"> {{element.temps}} </td>
        </ng-container>

        <!-- Coût -->
        <ng-container matColumnDef="cout">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Trier par coût"> Coût </th>
            <td mat-cell *matCellDef="let element"> {{element.cout}} </td>
        </ng-container>

        <!-- Modifier -->
        <ng-container matColumnDef="modifier">
            <th mat-header-cell *matHeaderCellDef> Modifier </th>
            <td mat-cell *matCellDef="let element">
                <button class="square-btn update" (click)="modifierEtape(element.nom)">
                    <mat-icon class="mat-18">update</mat-icon>
                </button>
            </td>
        </ng-container>

        <!-- Supprimer -->
        <ng-container matColumnDef="supprimer">
            <th mat-header-cell *matHeaderCellDef> Supprimer </th>
            <td mat-cell *matCellDef="let element">
                <button class="square-btn delete" (click)="supprimerEtape(element.nom)">
                    <mat-icon class="mat-18">delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 15]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>

</div>
