<!-- Creation FormGroup-->
<div class="recette-form-container form-content">
    <h1 class="text-center"><strong>Création d'une recette</strong></h1>
    <div>
        <form [formGroup]="service.RecetteForm" (ngSubmit)="service.onSubmit()">
            <div class="form-field">
                <label for="titre">Titre*</label>
                <input id="titre" type="text" formControlName="titre">
            </div>

            <div class="form-field">
                <label for="description">Description*</label>
                <input id="description" type="text" formControlName="description">
            </div>

            <div class="form-field">
                <form [formGroup]="service.EtapeForm" (ngSubmit)="service.selectEtape()">
                    <label for="selectEtape">Etapes*</label>
                    <select id="selectEtape" type="text" formControlName="selectEtape">
                        <option *ngFor="let e of etapes">{{e}}</option>
                    </select>
                    <button class="form-btn" type="submit">+</button>
                </form>
                <div cdkDropList cdkDropListOrientation="horizontal" class="example-list" (cdkDropListDropped)="drop($event)">
                    <div class="example-box" *ngFor="let eSelected of service.etapeSelected"  cdkDrag>{{eSelected}}</div>
                </div>
            </div>

            <div class="form-field">
                <label for="categorie">Catégorie*</label>
                <select id="categorie" type="text" formControlName="categorie">
                    <option *ngFor="let cat of categories">{{cat}}</option>
                </select>
            </div>

            <div class="form-field">
                <label for="nbCouvert">Nombre de couvert(s)*</label>
                <input id="nbCouvert" type="text" formControlName="nbCouvert">
            </div>

            <div class="form-field">
                <label for="temps">Temps (min)*</label>
                <input id="temps" type="text" formControlName="temps">
            </div>

            <div class="warning">
                <p *ngIf="service.RecetteForm.status == 'INVALID'">Vous devez remplir toutes les formalités*</p>
            </div>

            <div class="btn-toolbar">
                <button  class="button-validate form-btn" type="submit"  [disabled]="!service.RecetteForm.valid">Valider</button>
                <button  class="button-cancel form-btn" type="submit">Annuler</button>
            </div>

        </form>
    </div>

</div>



