<div class="form-content">
    <h1 *ngIf="this.data.type=='creation'" class="text-center"><strong>Création d'une recette</strong></h1>
    <h1 *ngIf="this.data.type=='modification'" class="text-center"><strong>Modification d'une recette</strong></h1>
    <div>
        <form [formGroup]="RecetteForm">
            <input id="id" type="hidden" formControlName="$id">
            <div class="form-field">
                <label for="titre">Titre*</label>
                <input id="titre" type="text" formControlName="titre">
            </div>

            <div class="form-field">
                <label for="description">Description</label>
                <input id="description" type="text" formControlName="description">
            </div>

            <div class="form-field">
                <form [formGroup]="EtapeForm" (ngSubmit)="selectEtape()">
                    <label for="selectEtape">Etapes*</label>
                    <select id="selectEtape" type="text" formControlName="selectEtape">
                        <option>Sélection</option>
                        <option *ngFor="let e of this.etapes">{{e.getTitre()}}</option>
                    </select>
                    <button class="form-btn" type="submit">+</button>
                </form>
                <form [formGroup]="EtapeRecetteForm" (ngSubmit)="selectRecette()">
                    <label for="selectRecette">Recettes*</label>
                    <select id="selectRecette" type="text" formControlName="selectRecette">
                        <option>Sélection</option>
                        <option *ngFor="let e of this.recettes">{{e.getTitre()}}</option>
                    </select>
                    <button class="form-btn" type="submit">+</button>
                </form>
                <form [formGroup]="EtapeSelectedForm" (ngSubmit)="unselectEtape()">
                    <div cdkDropList cdkDropListOrientation="vertical" class="example-list" (cdkDropListDropped)="drop($event)">
                        <div class="example-box" *ngFor="let eSelected of etapeSelected"  cdkDrag>{{eSelected}}</div>
                    </div>
                    <button class="form-btn button-cancel text-center" type="submit">Supprimer la dernière étape</button>
                </form>
            </div>

            <div class="form-field">
                <label for="categorie">Catégorie*</label>
                <select id="categorie" type="text" formControlName="categorie">
                    <option>Sélection</option>
                    <option *ngFor="let cat of this.categories">{{cat.getNom()}}</option>
                </select>
            </div>

            <div class="form-field">
                <label for="nbCouvert">Nombre de couvert(s)*</label>
                <input id="nbCouvert" type="text" formControlName="nbCouvert">
            </div>

            <div class="warning">
                <p *ngIf="RecetteForm.status == 'INVALID'">Vous devez remplir toutes les formalités*</p>
            </div>

            <div class="btn-toolbar">
                <button  class="button-validate form-btn" type="submit" (click)="onSubmit()" [disabled]="!RecetteForm.valid">Valider</button>
                <button  class="button-cancel form-btn" (click)="cancel()">Annuler</button>
            </div>

        </form>
    </div>

</div>



