.tableau {
    padding: 5%;
}
.table-container {
    background-color: rgba(255,255,255,0.95);
    color: #7c99ff;
    padding: 2%;
}

table {
    margin-top: 30px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24)  8px 8px 8px 8px;
}
table:hover {
    border: 3px solid rgba(124,153,255,0.38);
    transition: 0.2s;
}

th.mat-sort-header-sorted {
    color: black;
}

.create {
    margin-top: 2%;
    margin-left: 2%;
    padding: 0.5%;
    background-color: white;
    border: 3px solid #7c99ff;
}
.create:hover {
    background-color: #7c99ff;
    border: 3px solid #7c99ff;
    color: white;
}

.update {
    background-color: white;
    border: 0px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.update:hover{
    background-color: #7c99ff;
}

.delete {
    background-color: white;
    color: red;
    border: 0px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.delete:hover{
    background-color: red;
}