/* Général */
.body {
    min-height: 1080px;
    background-image: url("../img/cafeteria.jpg");
    /*background-color: rgba(37,35,36,0.80);*/
}

.square-btn { /* Boutons carrés utilisés dans la toolbar et navbar notamment */
    color: rgba(124,153,255,0.83);
    border-radius: 0px;
    box-shadow: rgba(0, 0, 0, 0.24) 5px 3px 8px;
    background-color: white;
}
.square-btn:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    background-color: rgba(153,153,151,0.51);
    color: white;
    transition-duration: 0.4s;
}
